apiVersion: 1
contactPoints:
  - orgId: 1
    name: Telegram-Channel
    receivers:
      - uid: telegram_receiver
        type: telegram
        settings:
          bottoken: "{{ tg_bot_token }}"
          chatid: "{{ tg_chat_id }}"
          disableResolveMessage: false
policies:
  - orgId: 1
    receiver: Telegram-Channel
    groupBy: ['alertname', 'cluster']
    groupWait: 10s
    groupInterval: 5m
    repeatInterval: 4h
